header
	.header-position
		h1.logo RW
		
		nav.home-site-nav
			ul
				li: a(href="#about") หน้าหลัก
				li: a(href="#contact") ติดค่อ
				li: a(href="#social") รู้จักกันมากขึ้น
		a.email-link(href="mailto:maggotgluon@gmail.com")เมลล์หาตอนนี้
