mixin nav-content()
	ul
		li: a(href="#about") รัฐพงศ์
		li: a(href="#skill") ทำอะไร
		li: a(href="#work") ผลงาน
		li: a(href="#portfolio") ตัวอย่างงาน
		li: a(href="#contact") ติดค่อ
		li: a(href="#social") รู้จักกันมากขึ้น

.mobile-nav
	+nav-content()
header
	.header-position
		h1.logo RW
		
		nav.site-nav
			+nav-content()
			
		a.email-link(href="mailto:maggotgluon@gmail.com")เมล์หาตอนนี้
		
		.mobile-nav-toggle: span
