section.about
  .flex.flex--center
    .col-1

    .col-1
      h3.home-lead ความสามารถ
      p ส่วนตัวมีความสนใจในด้านคอมพิวเตอร์เป็นพิเศษ ทำให้มีความสามารถที่หลากหลาย และการเป็นอาจารย์ทำให้พร้อมที่จะถ่ายทอดความรู้แก่ผู้ที่สนใจ นี่เป็นเพียงส่วนหนึ่งของความสามารถที่มักจะถูกถามอยู่บ่อยๆ
      ul
        li PHOTOSHOP 
          p ตัดต่อถาพ รีทัชภาพถ่าย สร้างสรรค์ภาพกราฟฟิค และสื่อสิ่งพิมพ์ 90%
        li ILLUSTRATOR
          p ออกแบบโลโก้ สื่อสิงพิมพ์ กราฟฟิคความละเอียดสูง 90%
        li PREMIERE
          p ตัดต่อหนัง ภาพยนต์ รายการ หรือคลิปวิดิโอ 90%
        li AFTER EFFECT
          p สเปเชียลเอ็ฟเฟค คอมโพสิต และคอมพิวเตอร์กราฟฟิค 90%
        li HTML5
          p ออกแบบและสร้างสรรค์เว็บไซต์ ด้วยเทคโนโลยีใหม่ลาสุดในปัจจุบัน 65%
        li  CSS3
          p ตกแต่งเว็บไซต์ จัดรูปแบบให้เกิดความสวยงาม และเพิ่มลูกเล่นให้น่าสนใจ 65%
