section.about
  .flex.flex--center
    .col-1

    .col-1
      h3.home-lead รัฐพงศ์ วรชาติอุดมพงศ์์
      h3 นักออกแบบอิสระ
      p อาจารย์ และนักออกแบบอิสระจากเมืองหัวหิน รับงานออกแบบทุกชนิด ตั้งแต่สื่อสิงพิมพ์ สื่อดิจิตอล ไปจนถึงเว็บไซต์ และมัลติมีเดีย พร้อมที่จะแบ่งปันความรู้และรับใช้ท่านเสมอ 
