section.work#work
  .flex.flex--center
    .col-1
      h3.home-lead ประวัติการทำงาน
      
      
    .col-1
      ul
        li 2555 - 2557	โรงเรียนภัทราวดี หัวหิน 
          ul
            li ครูเทคโนโลยีสารสนเทศ 
            li เจ้าหน้าที่เทคนิคสารสนเทศน์
        li 2555 - 2555	ตลาดน้ำหัวหินสามพันนาม 
          ul
            li นักออกแบบ
        li 2554 - 2555	สถานนีวิทยุ Sky web radio 
          ul
            li นักออกแบบ
        li 2554 - 2556	มหาวิทยาลัยเทคโนโลยี ราชมงคล ธัญบุรี 
          ul
            li อาจารย์พิเศษ คณะคหกรรมศาสตร์
